$break-small: 600px;
$break-medium: 800px;

$white: #FFFFFF;
$grey: #A9A9A9;

html {
  color: white;
  background-color: black;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: black;
    background-color: white;
  }
}

/**** Project Template ****/
.project {
  @media screen and (min-width: $break-medium) {  
    position: relative;
    margin: auto;
    width: 50vw;
  }

  :last-child {
    padding-bottom: 10vh;
  }
}

.fadeIn {
  -webkit-animation: opacityUp 3s;
  opacity: 1.0;
  -webkit-opacity: 1.0;
}

.fadeOut {
  -webkit-animation: opacityUp 1s reverse;
  opacity: 1.0;
  -webkit-opacity: 1.0; 
}

@keyframes pulse {
  0% {
    opacity: .3;
    text-shadow: 0px 0px 5px white;
  }
  50% {
    opacity: 1;
    text-shadow: 0x 0px 5px white;
  }
  100% {
    opacity: .3;
    text-shadow: 0px 0px 5px white;
  }
}

@-webkit-keyframes opacityUp {
  0% { 
      opacity: 0.0;
      -webkit-opacity: 0.0;
  }
  7% {
      opacity: 0.0;
      -webkit-opacity: 0.0;
  }
  100% { 
      opacity: 1.0;
      -webkit-opacity: 1.0;
  }
}

/**** Images ****/
#canvas-container {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 75vh;
} 

.image-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 4vh;

  img {
    max-width: 70vw;
    height: auto;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  video {
    max-width: 50vw;
    height: auto;

    &:not(:last-child) {
      margin-bottom: 2vh;
    }
  }

  @media screen and (min-width: $break-medium) {
    margin-bottom: 10vh;
  }
}


/**** Text ****/

.pulse {
  animation: pulse 3s infinite;
}

.bottom-text {
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  background-color: black;
  display: none;
  height: 25vh;

  @media screen and (min-width: 350px)  {
    height: 17vh;
  }
  @media screen and (min-width: $break-small) {
    height: 16vh;
  }
  @media screen and (min-width: $break-medium) {
    height: 10rem;
  }
  @media screen and (min-width: 1200px) {
    height: 8.5rem;
  }
}

.active {
  display: flex;
  justify-content: center;
}

.text-container {
  border-top: solid 1px;
  
  width: 95vw;
  box-shadow: 0px -10px 10px black;
  display: flex;
  flex-direction: row; 

  @media screen and (min-width: $break-small) {
    width: 80vw;
  }
  @media screen and (min-width: $break-medium) {
  }
}

.flex-element {
  margin: 2vh 1vw 1vh 1vw;
  
  @media screen and (min-width: $break-small) {
    margin: 2vh 1vw 1vh 1vw;
  }
  @media screen and (min-width: $break-medium) {
    margin: 2vh .5vw 1vh .5vw;
  }
}

.title-text {
  flex: 1;

  @media screen and (min-width: $break-small) {
  }
  @media screen and (min-width: $break-medium) {
    flex: 2;
  }
}

.description-text {
  flex: 3;

  @media screen and (min-width: $break-small) {
  }
  @media screen and (min-width: $break-medium) {
    flex: 3;
  }
}

.meta-text {
  flex: 1;

  @media screen and (min-width: $break-small) {

  }
  @media screen and (min-width: $break-medium) {
    flex: 2;
  }
}