$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-landscape: 992px;
$laptop: 1200px;

html {
  background-color: black;
  color: white;
  font-family: neue-haas-unica, helvetica, arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: white;
  white-space: nowrap;

  &:hover {
    background-color: white;
    color: black;
  }
}

sup {
  position: relative;
  white-space: nowrap;
  
  @media screen and (min-width: $laptop) {
    left: -6px;    
  }
}

.back-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;

  @media screen and (min-width: $laptop) {
    font-size: 3rem;
  }
}

.container {
  max-width: 100vw;
  font-size: 1rem;
  line-height: 1.4;
  padding: 1rem 1rem 1rem 1rem;

  @media screen and (min-width: $tablet-portrait) {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  @media screen and (min-width: $laptop) {
    max-width: 1200px;
    font-size: 2rem;
    line-height: 1.4;
    padding: 1rem 1rem 1rem 1rem;
  }
}

.img-container {
  max-width: 1500px;
  padding: 1rem 1rem 0rem 1rem;

  video {
    width: calc(100vw - 2rem);
    height: auto;
    padding-bottom: 1rem;

    @media screen and (min-width: $tablet-portrait) {
      width: 40vw;
      height: auto;
      padding: 0 0.5rem 0.5rem 0;
    }
  }

  .fq-500h {
    padding: 0 1rem 1rem 0;
    width: calc(100vw - 2rem);
    height: auto;

    @media screen and (min-width: $tablet-portrait) {
      height: 430px;
      width: auto;
    }
  }

  .fq-500w{
    padding: 0 1rem 1rem 0;
    width: auto;
    height: calc(100vw - 2rem);

    @media screen and (min-width: $tablet-portrait) {
      height: auto;
      width: 430px;
    }
  }

  .img-half {
    width: calc(100vw - 2rem);
    padding: 0 0 1rem 0;

    @media screen and (min-width: $tablet-portrait) {
      width: 48%;
      height: auto;
      padding: 0 1rem 1rem 0;
    }
  }

  .img-center {
    width: calc(100vw - 2rem);
    height: auto;

    @media screen and (min-width: $tablet-portrait) {
      width: 50vw;
      height: auto;
    }
  }

  #hf-fm {
    width: calc(100vw - 2rem);
    height: auto;
    
    @media screen and (min-width: $tablet-portrait) {
      width: auto;
      height: 60vh;
    }
  }
}

.top {
  vertical-align: top;
}

.footer-nav {
  font-size: 1.5rem;
  white-space: nowrap;

  @media screen and (min-width: $laptop) {
    font-size: 2rem;
  }
}

.pulse {
  animation: pulse 3s infinite;
}

.year-text {
  font-size: 1.4rem;
}

.project-container {
  padding-bottom: 1rem;

  @media screen and (min-width: $tablet-portrait) {
    padding-right: 1rem;
    max-width: calc(50vw - 3rem);
  }

  @media screen and (min-width: $laptop) {
    padding: 0 2.5rem 2.5rem 0;
  }
}

.project-link {
  text-decoration: underline;
}

#arena:hover:after {
  content: ' – /carter-duong';
}

#instagram:hover:after {
  content: ' – @carterduong';
}

#email:hover:after {
  content: ' – info@carterduong.com';
}

#thumbnails-container {
  max-width: calc(100vw - 2rem);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    
  
  @media screen and (min-width: $laptop) {
  }

  a {
    all: unset;
  }

  img {
    display: block;
    max-width: calc(100vw - 2rem);

    @media screen and (min-width: $tablet-portrait) {
      max-width: 300px;
    }
  }

  .project-container:hover {
    cursor: pointer;

    img {
      filter: drop-shadow(0px 0px 10px white)
    }
    
    .title {
      background-color: white;
      color: black;
    }
  }

  .title {
    display: inline-block;
    margin-bottom: 1rem;
  }
}

@keyframes pulse {
  0% {
    opacity: .3;
    text-shadow: 0px 0px 5px white;
  }
  50% {
    opacity: 1;
    text-shadow: 0x 0px 5px white;
  }
  100% {
    opacity: .3;
    text-shadow: 0px 0px 5px white;
  }
}