html {
  background-color: black;
  color: white;
  font-family: neue-haas-unica, helvetica, arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: white;
  white-space: nowrap;

  &:hover {
    background-color: white;
    color: black;
  }
}

sup {
  position: relative;
  left: -6px;
  white-space: nowrap;
}

@keyframes pulse {
  0% {
    opacity: .3;
    text-shadow: 0px 0px 5px white;
  }
  50% {
    opacity: 1;
    text-shadow: 0x 0px 5px white;
  }
  100% {
    opacity: .3;
    text-shadow: 0px 0px 5px white;
  }
}

.back-btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
}

.container {
  max-width: 1200px;
  font-size: 2rem;
  line-height: 1.4;
  padding: 1rem 1rem 1rem 1rem;

  img, video {
    max-width: 250px;
    padding-bottom: .5rem;
    padding-right: .5rem;
  }
}

.img-container {
  max-width: 1500px;
  padding: 1rem 1rem 0rem 1rem;

  video {
    width: 40vw;
    height: auto;
    padding: 0 0 1rem 0;
  }

  .fq-500h {
    height: 430px;
    width: auto;
  }

  .fq-500w{
    height: auto;
    width: 430px;
  }

  .img-half {
    width: 48%;
    height: auto;
    padding: 0 1rem 1rem 0;
  }

  .img-center {
    width: 100%;
    height: auto;
  }

  #hf-fm {
    width: auto;
    height: 60vh;
  }
}

.top {
  vertical-align: top;
}

.footer-nav {
  white-space: nowrap;
}

.pulse {
  animation: pulse 3s infinite;
}

.year-text {
  font-size: 1.4rem;
}

.project-container {
  padding: 0 2.5rem 2.5rem 0;
}

.project-link {
  text-decoration: underline;
}

#arena:hover:after {
  content: ' – /carter-duong';
}

#instagram:hover:after {
  content: ' – @carterduong';
}

#email:hover:after {
  content: ' – info@carterduong.com';
}

#project-thumbnails {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  a {
    all: unset;
  }

  img {
    display: block;
    max-width: 300px;
  }

  .project-container:hover {
    cursor: pointer;

    .title {
      background-color: white;
      color: black;
    }
  }

  .title {
    display: inline-block;
    margin-bottom: 1rem;
  }
}