{% assign local-url = "assets/img/" %}

{% include head.html %}
<body>
  <a class="back-btn" href="{{site.baseurl}}/">✕</a>
  <div class="container">
    {{page.title}}
    <br>
    {{page.year}} <a href="{{page.link.url}}" class="project-link" target="_blank">{{page.link.type}}↗&#xFE0E;</a>
  </div>
  <div class="container">
      {{page.description}}
  </div>
  <div class="container">
    {{page.credits}}
  </div>
  <div class="container">
    {% for image-url in page.images %}
      <img src={{local-url}}{{image-url}}/>
    {% endfor %}
  </div>
  <div class="container">
    <span id="bottom-text">–</span>
    <div class="footer-nav">
    {% assign unicode = 2460 %}
    {% assign projects_list = site.projects | sort: 'order' %}
    {% for project in site.projects %}
      {% if project.title == page.title %}
        <a href="{{site.baseurl}}{{project.permalink}}" id="{{project.link.id}}" class="pulse" >&#x{{unicode}};</a>
      {% else %}
        <a href="{{site.baseurl}}{{project.permalink}}" id="{{project.link.id}}">&#x{{unicode}};</a>
      {% endif %}
      {% assign unicode = unicode | plus: 1 %}
    {% endfor %}
    </div>
  </div>
</body>
{% include footer.html %}